<main class="containers">
    <section class="row">
        <article class="col-md-6">
            <h2>Create a post</h2>
            <form class="addPost form">
                <div class="mb-3">
                    <label for="exampleInputText" class="form-label">Add Title</label>
                    <input type="text" class="form-control" id="title" aria-describedby="textHelp">

                </div>
                <div class="mb-3">
                    <label for="body" class="body">Post</label>
                    <input type="text" class="form-control" id="postBody" aria-describedby="post">
                   
                </div>
              

                <button type="submit" class="btn btn-primary">Create Post</button>
            </form>
        </article>
        
               
    </section>

    <script src="/js/addPost.js"></script>