<h2>Top trending Post</h2>
{{#each post in posts}}
<div class="card text-center">
  <div class="card-header">
    {post.title}
  </div>
  <div class="card-body">
    <h5 class="card-title">P\{post.body}</h5>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    <a href="#" class="btn btn-primary">Comment</a>
  </div>
  <div class="card-footer text-muted">
    2 days ago
  </div>
</div>
{{/each}}
<h3>Test</h3>